/Recreation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Recreation/obj/Debug/Recreation.csproj.CopyComplete
/Recreation/obj/Debug/Recreation.csproj.CoreCompileInputs.cache
/Recreation/obj/Debug/Recreation.csproj.FileListAbsolute.txt
/Recreation/obj/Debug/Recreation.csprojAssemblyReference.cache
/Recreation/obj/Debug/Recreation.dll
/Recreation/obj/Debug/Recreation.pdb
/Recreation/bin/Antlr3.Runtime.dll
/Recreation/bin/Antlr3.Runtime.pdb
/Recreation/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/Recreation/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Recreation/bin/Microsoft.Web.Infrastructure.dll
/Recreation/bin/Newtonsoft.Json.dll
/Recreation/bin/Recreation.dll
/Recreation/bin/Recreation.dll.config
/Recreation/bin/Recreation.pdb
/Recreation/bin/roslyn/csc.exe
/Recreation/bin/roslyn/csc.exe.config
/Recreation/bin/roslyn/csc.rsp
/Recreation/bin/roslyn/csi.exe
/Recreation/bin/roslyn/csi.rsp
/Recreation/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/Recreation/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/Recreation/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/Recreation/bin/roslyn/Microsoft.CodeAnalysis.dll
/Recreation/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/Recreation/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/Recreation/bin/roslyn/Microsoft.CSharp.Core.targets
/Recreation/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/Recreation/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/Recreation/bin/roslyn/Microsoft.VisualBasic.Core.targets
/Recreation/bin/roslyn/System.AppContext.dll
/Recreation/bin/roslyn/System.Collections.Immutable.dll
/Recreation/bin/roslyn/System.Diagnostics.StackTrace.dll
/Recreation/bin/roslyn/System.IO.FileSystem.dll
/Recreation/bin/roslyn/System.IO.FileSystem.Primitives.dll
/Recreation/bin/roslyn/System.Reflection.Metadata.dll
/Recreation/bin/roslyn/vbc.exe
/Recreation/bin/roslyn/vbc.exe.config
/Recreation/bin/roslyn/vbc.rsp
/Recreation/bin/roslyn/VBCSCompiler.exe
/Recreation/bin/roslyn/VBCSCompiler.exe.config
/Recreation/bin/System.Web.Helpers.dll
/Recreation/bin/System.Web.Helpers.xml
/Recreation/bin/System.Web.Mvc.dll
/Recreation/bin/System.Web.Mvc.xml
/Recreation/bin/System.Web.Optimization.dll
/Recreation/bin/System.Web.Optimization.xml
/Recreation/bin/System.Web.Razor.dll
/Recreation/bin/System.Web.Razor.xml
/Recreation/bin/System.Web.WebPages.Deployment.dll
/Recreation/bin/System.Web.WebPages.Deployment.xml
/Recreation/bin/System.Web.WebPages.dll
/Recreation/bin/System.Web.WebPages.Razor.dll
/Recreation/bin/System.Web.WebPages.Razor.xml
/Recreation/bin/System.Web.WebPages.xml
/Recreation/bin/WebGrease.dll
/Recreation/bin/zh-Hans/System.Web.Helpers.resources.dll
/Recreation/bin/zh-Hans/System.Web.Mvc.resources.dll
/Recreation/bin/zh-Hans/System.Web.Optimization.resources.dll
/Recreation/bin/zh-Hans/System.Web.Razor.resources.dll
/Recreation/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
/Recreation/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
/Recreation/bin/zh-Hans/System.Web.WebPages.resources.dll
/.vs/Recreation/config/applicationhost.config
/.vs/Recreation/v16/.suo
