<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MySql" value="server=localhost;database=recreation;PORT=3306; uid=root;pwd=zx1217;Connect Timeout=600;charset=utf8"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.0"/>
	</startup>
</configuration>
