
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>

<body>
    <div id="app" class="layui-layout layui-layout-admin" style="height: 90vh">
       <img src="~/Content/img/JinKR.gif" />
    </div>

    

</body>
</html>

<script>
    (function () {
        new Vue({
            el: '#app',
            data() {
                return {
                  
                }
            },
            methods: {

            }
        });
    })();
</script>

<style>


</style>